table{
	margin: 0 auto;
}
table caption, .tabla2 caption,.tabla3 caption,.tabla caption{
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	padding: 20px;
}
td{
	text-align: center;
}
.tabla2,{
	border: 1px solid #A8D7E9;
	border-collapse: collapse;
} 
.tabla2 td, .tabla2 th,{
	border: 1px dotted #500B78;
	padding: 20px;
}
.tabla2 tr:nth-child(2n+1){
	background: #88B314;
}
.tabla2 tr:nth-child(2n){
	background: #E7B60D;
}
.tabla3 td,.tabla3 th{
	border: 2px dashed #9E1CBA;
	padding:  20px
}
.tabla3 tr:first-child{
	background: #10068F;
}
.tabla3 tr:last-child{
	background: #191DB5;
}
.tabla4{
	background: #FFFFFF;
}
.tabla4 td,.tabla4 th{
	border: 5px solid #FFFFFF;
}
.tabla4 tr:hover{
	background: #EFEC12;
}